<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.web.youneeds.dto.OrderDto" alias="orderDto"/>
		<typeAlias type="com.web.youneeds.dto.ProjectDto" alias="projectDto"/>
		<typeAlias type="com.web.youneeds.dto.NoticeDto" alias="noticeDto"/>
		<typeAlias type="com.web.youneeds.dto.ProjectIntroDto" alias="projectIntroDto"/>
		<typeAlias type="com.web.youneeds.dto.ProjectTitleImgDto" alias="projectTitleImgDto"/>
		<typeAlias type="com.web.youneeds.dto.ProjectFundGuideDto" alias="projectFundGuideDto"/>
		<typeAlias type="com.web.youneeds.dto.ProjectNoticeDto" alias="projectNoticeDto"/>
		<typeAlias type="com.web.youneeds.dto.CreatorDto" alias="creatorDto"/>
		<typeAlias type="com.web.youneeds.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="com.web.youneeds.dto.QnaDto" alias="qnaDto"/>
		<typeAlias type="com.web.youneeds.dto.QnaReplyDto" alias="qnaReplyDto"/>
		
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/mapper/Member-Mapper.xml"/>
		<mapper resource="/mybatis/mapper/Notice-Mapper.xml"/>
		<mapper resource="/mybatis/mapper/Order-Mapper.xml"/>
		<mapper resource="/mybatis/mapper/Project-Mapper.xml"/>
		<mapper resource="/mybatis/mapper/ProjectNotice-Mapper.xml"/>
		<mapper resource="/mybatis/mapper/Qna-Mapper.xml"/>
		<mapper resource="/mybatis/mapper/QnaReply-Mapper.xml"/>
	</mappers>
</configuration>