<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="fundGuideSql">
 
 	<select id="" parameterType="int">
 		
 	</select>
 
 	
 	<insert id="insertGuide" parameterType="projectFundGuideDto">
 		INSERT INTO Project_Fund_Guide
 		VALUES(#{p_id}, #{fund_guide_content})
 	</insert>
 	
 	<update id="updateGuide" parameterType="projectFundGuideDto">
 		UPDATE Project_Fund_Guide
 		SET FUNED_GUIDE_CONTENT = #{fund_guide_content}
 		WHERE P_ID = #{p_id}
 	</update>
 	
 	<delete id="deleteGuide" parameterType="int">
 		
 	</delete>
 	
 
 </mapper>