<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="temp8">

	<select id="searchProjectIntro" parameterType="com.web.youneeds.dto.ProjectIntroDto" 
 	 			resultType="com.web.youneeds.dto.ProjectIntroDto">
 	 	SELECT A.P_ID,
 	 			A.P_INTRO,
 	 			B.INTRO_IMG_ID,
 	 			B.IMG_ORIGIN_NAME,
 	 			B.IMG_STORED_NAME,
 	 			B.IMG_STORED_PATH,
 	 			B.IMG_FILE_SIZE
 	 	   FROM PROJECT_INTRO A, PROJECT_INTRO_IMG B
 	 	  WHERE A.P_ID = B.P_ID
 	</select>
 	
 	<insert id="insertProjectIntro" parameterType="com.web.youneeds.dto.ProjectIntroDto">
 		INSERT INTO PROJECT_INTRO
 			(
 				P_ID,
 				P_INTRO
 			) VALUES (
 				#{p_id},
 				#{p_intro}
 			)
 	</insert>

</mapper>